@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Oswald';
    background: url(../images/smart1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

/*-----------------NAVIGATION-----------------*/

.navbar {
    background-color: #000000;
    opacity: 0.8;
}
.navbar .collapse a i {
    letter-spacing: 4px;
    font-size: 25px;
    text-decoration: underline;
    color: #ffc609e5;
    transition: 0.5s;
}

.navbar .collapse a  i:hover {
    font-size: 30px;
    transition: 0.5s;
}
.nav-link {
    color: #fafafa;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 10px;
    background-color: #000000;
}
.nav-link:hover {
    color: #ffc609e5;
}
.navbar .collapse ul li a span {
    background-color :#ff0909e5;
    font-size: 20px;
    padding: 2px 5px;
    margin: 0;
    color:#fafafa;
    border-radius: 2px;
}
.navbar .collapse ul li a span:hover {
    font-size: 20px;
    color: #ffc609e5;
    font-weight: 300;
}
/*-----------------CAPTION-----------------*/

.content .container1 {
    max-height: 620px;
    display: flex;
    flex-direction: column;
}
.content .container1 .page {
    background-color: transparent;
    margin-left: 22%;
    margin-top: 420px;
 }
.content .container1 .page .landing .caption {
     letter-spacing: 5px;
     opacity: 0.8;      
}    
h2.font1 {
    font-size: 24px;
    font-weight: 200;
    color: #ffc609e5;
    padding: 2px 0;
}
h4.font2 {
    font-size: 30px;
    font-weight: 200;
    color: #ffc609e5;
    padding: 2px 0;
}
h3.font3 {
    font-size: 25px;
    font-weight: 200;
    color:#ffc609e5;
    padding: 2px 0;
}
.content .container1 .page .landing .caption a {
    padding: 3px;
    background-color: #ff0909e5;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 100px;
}
.content .container1 .page .landing .caption a:hover {
    color: #000000;
    padding: 2px;
    background-color: #ffc609e5;
    transition: 0.3s;
    border-color: #000000;
}
hr{
    width: 250px;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: #fafafa;
}

/*-----------------ABOUT ME-----------------*/

#about-me-image {
  background-image: url("../images/computer.jpg"); 
  border: 2px #fafafa solid;
  height: 300px; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about-me-image1 {
  background-image: url("../images/matrix.jpg"); 
  border: 2px #fafafa solid;
  height: 300px; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about-me-image2 {
  background-image: url("../images/it.jpg"); 
  border: 2px #fafafa solid;
  height: 300px; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
     margin-top: 80px;
}
.content .box {
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}
.content .box .title {  
    background: #000000;
    background-position: center;
    width: 100%;
    justify-content: center;
    opacity: 0.8;
}
.content .box .title h2 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffc609e5;
    padding: 5px;
    font-weight: 400;
    font-size: 22px;
    text-decoration: underline;
}
.content .box .title h2 i {
    margin-right: 10px;
    font-size: 20px;   
}
.content .box .title h4 {
    font-weight: 400;
    font-size: 20px;
}
.content .box .title p {
    font-size: 20px;
    font-weight: 300;
}
.content .box .title ul{
    color: #fafafa;
}
.content .box .title h4.special {
    margin-top: 10px;
}
.content .box .title span {
    font-size: 20px;
    font-weight: 300;
}
a.logo{
    color: transparent;
}
 
/*-----------------CONTACT-----------------*/

.contact .content p {
    font-weight: 300;
    color: #fafafa;
    font-size: 15px;
    opacity: 0.8;
    padding-top: 50px;
    padding-left: 50px;
}
.contact .container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.contact .container .contactInfo .box {
    position: relative;
    padding: 40px;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height:60px;
    background: #ffc609e5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: #ffc609e5;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #ffc609e5;
    font-size: 20px;
    text-decoration: underline;
}
.contactForm {
    background: #000000;
    width: 40%;
    padding: 30px;
    opacity: 0.7;
}
.contactForm h2 {
    color: #fafafa;
    font-size: 22px;
    font-weight: 700;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
}
.contactForm .submit {
    margin-top: 10px;  
    margin-left: 40%;
    color: #fafafa;
}
.contactForm .inputBox input {
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}
.contactForm .submit {
   background:  #000000;
}
.contactForm .submit button.btn:hover {
    color: #000000;
}


/*-----------------FOOTER-----------------*/

.fixed-bottom ul  {
    display: flex;  
    justify-content: center;
    align-items: center;
}
.fixed-bottom ul li:hover{
     transform: translate(-0%, -5%);
     transition: 0.5s;
}   
.fixed-bottom ul li {
    margin: 0 15px;
    list-style: none;
}
.fixed-bottom ul li .fab {
    font-size: 20px;
    line-height: 60px;
}
.fixed-bottom ul li a {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #000000;
    text-align: center;
    display: block;
    opacity: 0.8;
    color: #ffc609e5;
}
.fixed-bottom ul li a:hover {
    color: #fafafa;
}

/*-----------------FOOTER ABOUT ME-----------------*/

.social-menu ul {
    display: flex;  
    justify-content: center;
    align-items: center;
}
.social-menu ul li:hover{
     transform: translate(-0%, -5%);
     transition: 0.5s;
}  
.social-menu ul li {
    margin: 0 15px;
    list-style: none;
}
.social-menu ul li .fab {
    font-size: 20px;
    line-height: 60px;
}
.social-menu ul li a {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #000000;
    text-align: center;
    display: block;
    opacity: 0.8;
    color: #ffc609e5;
}
.social-menu ul li a:hover {
    color: #fafafa;
}



/*-----------------MEDIA QUERIES-----------------*/

@media screen and (min-width: 360px) { 
.content .landingpage .container1 .page {
    align-items: center;
    margin-top: 330px;
}
.font1 {
    font-size: 23px;
}
.font2 {
    font-size: 25px;
}
.font3 {
    font-size: 23px;
}
.content .landing .caption a {
    font-size: 18px;
}
.content .box {
    padding: 40px 40px; 
}
.contact .container {
    display: flex;
    flex-direction: column;
}
.contact .content {
    padding-left: 10px;
    margin-top: 10px;
}
.contactForm {
    width: 80%;
}
.div.contactInfo {
    align-content: center;
}
div.box {
    padding: 3px;
}
.contact .container .contactInfo .box {
    padding: 0px;
}
.container .contactInfo .box .icon {
    min-width: 30px;
    height: 30px;
}
.contactForm {
    padding: 3px;
}
.contactForm form {
    padding: 5px;
}
.contactForm .submit {
    margin-top: 2px;  
}
.btn.btn-default.btn-warning {
    padding: 1px;
    margin-top: 20px;
}
.contactForm .inputBox {
    height: 60px;
}
.container .contactInfo {
    padding: 0px;
}
.contact .content {
    margin-top: 0px;
}
.contact .content p {
    font-size: 25px;
}
.container .contactInfo .box .text h3{
    font-size: 18px;
}
.contactForm form h2{
    font-size: 18px;
}
.contactForm .inputBox span{
    font-size: 18px;
}
.contactForm .inputBox input{
    margin: 0;
    padding: 0;
}
.contactForm .inputBox textarea{
   height: 35px;
}
div.text p{
    font-size: 15px;
}

@media screen and (min-width: 576px) { 
.content .landingpage .container1 .page {
    align-items: center;
 }
.font1 {
    font-size: 24px;
}
.font2 {
    font-size: 30px;
}
.font3 {
    font-size: 24px;
}
.content .landing .caption a {
    font-size: 20px;
}
.div.contactInfo {
    align-content: center;
}
div.box {
    padding: 5px;
}
.contact .container {
    display: flex;
    flex-direction: column;
}
.contact .content {
    padding-left: 20px;
    margin-top: 40px;
}
.contact .container .contactInfo .box {
    padding: 0px;
}
.container .contactInfo .box .icon {
    min-width: 40px;
    height: 40px;
}
.contactForm {
    padding: 10px;
    width: 70%; 
}
.contactForm form {
    padding: 10px;
}
.contactForm .submit {
    margin-top: 2px;  
}
.btn.btn-default.btn-warning {
    padding: 2px;
}
}

@media screen and (min-width: 768px) {
.content .landingpage .container1 .page {
    align-items: center;
    margin-top: 500px;
}
.font1 {
    font-size: 32px;
}
.font2 {
    font-size: 35px;
}
.font3 {
    font-size: 30px;
}
.content .landing .caption a {
    font-size: 28px;
}
.div.contactInfo {
    align-content: center;
}
div.box {
    padding: 5px;
}
.contact .container {
    display: flex;
    flex-direction: row;
}
.contact .content {
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.contact .container .contactInfo {
    margin-right: 100px;
}
.contact .container .contactInfo .box {
    padding: 10px;
}
.container .contactInfo .box .icon {
    min-width: 30px;
    height: 30px;
}
.contactForm {
    padding: 10px;
    width: 40%; 
}
.contactForm form {
    padding: 10px;
}
.contactForm .submit {
    margin-top: 5px;  
}
.btn.btn-default.btn-warning {
    padding: 2px;
}
}

@media screen and (min-width: 992px) {
.content .landingpage .container1 .page {
    margin-left: 20%;
    margin-top: 700px;
}
.font1 {
    font-size: 45px;
}
.font2 {
    font-size: 50px;
}
.font3 {
    font-size: 45px;
}
.content .landing .caption a {
    font-size: 36px;
}

.div.contactInfo {
    align-content: center;
}
div.box {
    padding: 5px;
}
.contact .container {
    display: flex;
    flex-direction: row;
}
.contact .content {
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.contact .container .contactInfo {
    margin-right: 100px;
}
.contact .container .contactInfo .box {
    padding: 10px;
}
.container .contactInfo .box .icon {
    min-width: 30px;
    height: 30px;
}
.contactForm {
    padding: 10px;
    width: 40%; 
}
.contactForm form {
    padding: 10px;
}
.contactForm .submit {
    margin-top: 10px;  
}
.btn.btn-default.btn-warning {
    padding: 5px;
}
}

@media screen and (min-width: 1200px){
.content .landingpage .container1 .page {
    align-items: center;
    margin-top: 400px;
    margin-left: 23%;
}
.font1 {
    font-size: 38px;
}
.font2 {
    font-size: 42px;
}
.font3 {
    font-size: 36px;
}
.content .landing .caption a {
    font-size: 34px;
}
div.contactInfo {
    align-content: center;
}
div.box {
    padding: 5px;
}
.contact .container {
    display: flex;
    flex-direction: row;
}
.contact .content {
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.contact .content p {
    font-size: 40px;
}
.contact .container .contactInfo {
    margin-right: 100px;
}
.contact .container .contactInfo .box {
    padding: 30px;
}
.container .contactInfo .box .icon {
    min-width: 50px;
    height: 50px;
}
.contactForm {
    padding: 10px;
    width: 40%; 
}
.contactForm form {
    padding: 10px;
}
.contactForm .submit {
    margin-top: 10px;  
}
.btn.btn-default.btn-warning {
    padding: 5px;
}
}
}