
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: url("../images/smart1.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed; 
}




/*-----------------NAVIGATION-----------------*/

.navbar {
    background-color: #000000;
    opacity: 0.8;
}

.navbar .collapse a  i {
    letter-spacing: 4px;
    font-size: 30px;
    text-decoration: underline;
    color: #ffc609e5;
}

.navbar .collapse a  i:hover {
    font-size: 35px;
}

.nav-link {
    color: #fafafa;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2x;
    word-spacing: 10px;
    background-color: #000000;
}

.nav-link:hover {
    color: #ffc609e5;
}
/*-----------------CAPTION-----------------*/

.content .landingpage .container1 {
    position: relative;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;  
}

.content .landingpage .container1 .row {
    margin-left: 25%;
    margin-top: 30%;
}

.content .landingpage .container1 .row .landing {
    background-color: transparent;
 }

.content .landingpage .container1 .row .landing .caption {
     letter-spacing: 1px;
     padding-bottom: 3px;
     opacity: 0.8;   
 }

.content .landing .caption a {
    margin-top: 15px;
    font-size: 25px;
    background-color: #000000;
    font-weight: 500;
    padding: 7px;
}

.content .landing .caption a:hover {
    color: #ffc609e5;
}

.font1 {
    font-size: 30px;
    font-weight: 500;
    color: #fafafa;
}

.font2 {
    font-size: 40px;
    font-weight: 500;
    color: #fafafa;
}

.font3 {
    font-size: 32px;
    font-weight: 400;
    color:#fafafa;
}


@media all and (max-width: 480px) {
    .font1 {
    font-size: 20px;
    }
    .font2 {
    font-size: 23px;
    padding-top: 2px;
    }
    .font3 {
    font-size: 20px;
    padding-top: 2px;
    }
    .content .landing .caption a {
        font-size: 15px;
    }
    .content .landingpage .container1 .row {
        padding-top: 110px;
        padding-left: 0;
    }
    .content .landingpage .container1 .row .landing .caption {
        padding: 10px 10px;
    }
 }
 @media all and (min-width: 481px) and (max-width: 768px) {
    .font1 {
    font-size: 25spx;
    }
    .font2 {
    font-size: 28px;
    padding-top: 2px;
    }
    .font3 {
    font-size: 23px;
    padding-top: 2px;
    }
    .content .landing .caption a {
        font-size: 20px;
    }
    .content .landingpage .container1 .row {
        padding-top: 300px;
        padding-left: 0;
    }
    .content .landingpage .container1 .row .landing .caption {
        padding: 10px 10px;
    }
    .social-menu ul {
    position: absolute;
    left: 85%;
    padding-bottom: 30px;
    display: flex;
    }
 }

 @media all and (min-width: 767px) and (max-width: 1024px) {
     .font1 {
    font-size: 30px;
    }
    .font2 {
    font-size: 35px;
    padding-top: 2px;
    }
    .font3 {
    font-size: 28px;
    padding-top: 2px;
    }
    .content .landing .caption a {
        font-size: 25px;
    }
    .content .landingpage .container1 .row {
        padding-top: 150px;
        padding-left: 0;
    }
    .content .landingpage .container1 .row .landing .caption {
        padding: 10px 10px;
    }
    .social-menu ul {
    position: absolute;
    left: 85%;
    padding-bottom: 30px;
    display: flex;
    }
 }
/*-----------------ABOUT ME-----------------*/

img {
    width: 100%;
    max-height: 300px;
    margin-top: 20px;
}
 .content {
     margin-top: 80px;
 }

.content .box {
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;  
}

.content .box .title {  
    background: #000000;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    opacity: 0.8;
}

.content .box .title h2 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffc609e5;
    padding: 5px;
    font-weight: 400;
    font-size: 22px;
    text-decoration: underline;
}

.content .box .title h2 i {
    margin-right: 10px;
    font-size: 20px;   
}

.content .box .title h4 {
    font-weight: 400;
    font-size: 20px;
}

.content .box .title p {
    font-size: 20px;
    font-weight: 300;
}

.content .box .title ul{
    color: #fafafa;
}

.content .box .title h4.special {
    margin-top: 10px;
}

.content .box .title span {
    font-size: 20px;
    font-weight: 300;
}


 @media all and (max-width: 480px) {
    .content .box .title {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-left: 5px;
        margin-right: 5px;
     }   
    .content .box .title h2 {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 23px;
    }
     .content .box  .title h4 {   
        margin-left: 5px;
        margin-right: 5px;
        font-size: 18px;
     }
    .content .box .title p {
        margin-left: 5px;
        margin-right: 5px; 
        font-size: 16px;
    }
    .content .box .title span {
       font-size: 16px; 
       margin-left: 5px;
        margin-right: 5px; 
    }
    img {
        width: 100%;
        margin-top: 20px;
    }me
 }

@media all and (max-width: 768px) {
    .content .box .title {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-left: 5px;
        margin-right: 5px;
     }   
    .content .box .title h2 {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 23px;
    }
     .content .box .title h4 {   
        margin-left: 5px;
        margin-right: 5px;
        font-size: 18px;
     }
    .content .box .title p {
        margin-left: 5px;
        margin-right: 5px; 
        font-size: 16px;
    }
    .content .box .title span {
       font-size: 16px; 
       margin-left: 5px;
        margin-right: 5px; 
    }
    img {
        width: 160%;
        margin-top: 20px;
    }
 }

 @media all and (max-width: 1024px) {
    .content .box  .title {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-left: 5px;
        margin-right: 5px;
     }   
    .content .box .title h2 {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 23px;
    }
     .content .box .title h4 {   
        margin-left: 5px;
        margin-right: 5px;
        font-size: 18px;
     }
    .content .box .title p {
        margin-left: 5px;
        margin-right: 5px; 
        font-size: 16px;
    }
    .content .box .title span {
       font-size: 16px; 
       margin-left: 5px;
        margin-right: 5px; 
    }
    img {
        width: 100%;
        margin-top: 20px;
    }
 }
 @media all and (max-width: 1280px) {

    img {
        width: 100%;
    }
    .content .box .title {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-left: 5px;
        margin-right: 5px;
     }   
 }
 

/*-----------------CONTACT-----------------*/

.contact {
    display: flex;
    flex-direction: column;
    min-height: 700px;
}

.contact .content {
    margin-left: 50px;
}

.contact .content p {
    font-weight: 500;
    color: #fafafa;
    font-size: 30px;
    opacity: 0.8;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0.8;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: #fafafa;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #fafafa;
    font-size: 20px;
    text-decoration: underline;
}

.contactForm {
    background: #000000;
    width: 40%;
    padding: 30px;
    opacity: 0.7;
}

.contactForm h2 {
    color: #fafafa;
    font-size: 22px;
    font-weight: 700;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
}

.contactForm .submit {
    margin-top: 10px;  
    margin-left: 40%;
    color: #fafafa;
}

.contactForm .inputBox input {
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}

.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}

.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}

.contactForm .submit {
   background:  #000000;
}

.contactForm .submit button.btn:hover {
    color: #000000;
}


/*-----------------FOOTER-----------------*/

.social-menu ul {
    display: flex;  
    padding-left: 75%;
}
.social-menu ul li {
    margin: 0 15px;
    list-style: none;
}

.social-menu ul li .fab {
    font-size: 20px;
    line-height: 60px;
}

.social-menu ul li a {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #000000;
    text-align: center;
    display: block;
    opacity: 0.8;
    color: #ffc609e5;
}

.social-menu ul li a:hover {
    color: #fafafa;
}
